* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: #1d2951;
  background-image: linear-gradient(315deg, #1d2951 0%, #dbe7fc 74%);
  

  letter-spacing: 0.07em;
}
